.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

#url {
  width: 100%;
}

.output-box-title {
  margin-bottom: 20px;
  color: grey;
}

.output-result-single {
  padding: 5px;
}

#selector-container {
  display: none;
}
#output-box {
  margin-top: 12px;
}
.output-result-container {
  background: #f1f1f1;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: auto;
}
